
 
@media only screen and  (min-width:350px) and  (max-width:500px){

   .sec-2-text h2{
   margin-right: 5px;
   font-size: 18px;
 }
     
 .sec-2-text h4{
    margin-right: 10px;
    font-size:17px;

 }
 #about{
    height: 100px;
    background-color: #f4f2eb;
}
#about .sec-3-img{
    position: absolute;
    top:400px;
    width: 100px;
    height: 150px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }
 
 .sec-3-img img{
    width: 100%;
    height: 100%;
 }
  .sec-2-a .icon{
   font-size: 20px;
  }
  .sec-3 h2{
     font-size: 18px;
     margin-left: -180px;
    
 }
  
 .sec-3-span img{
    display: none;
 }

 .sec-3 .sec-p-3-1{
   margin-top: 70px;
   margin-left: -55px;
   font-size: 13px;
 }
.sec-3 .sec-p-3-2{
    font-size: 13px;
      margin-left: -55px;
   
}
.sec-3 .sec-ul-3{
   font-size: 12px;
   margin-top: 30px;
    
}
  #skils{
    height: 800px;
    background-color: black;
    color: antiquewhite;
   
    
  }
   
  #skils .skil-col{
   margin-top: 20px;
  }
  #img-5{
   margin-top: 86px;
  }
 #myproject{
     background-color: #f4f2eb;
     height: 1500px;
  }

  
 #footer p{
   font-size: 10px;
 }
}


@media only screen and  (min-width:500px) and  (max-width:575px){

#about .sec-3-img{
    position: absolute;
    top: 350px;
    width: 130px;
    height: 190px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }

.sec-3-span{
    display: none;
 }
#about{
   height: 150px; 
   
}
#myproject{
     background-color: #f4f2eb;
     height: 1500px;
  }
   #img-5{
   margin-top: 70px;
  }
} 









@media only screen and  (min-width:575px) and  (max-width:800px){

#about .sec-3-img{
    position: absolute;
    top: 350px;
    width: 130px;
    height: 190px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }

.sec-3-span{
    display: none;
 }
#about{
   height: 150px; 
}

 .sec-3 .sec-p-3-1{
    margin-left: 30px;
   font-size: 13px;
 }
.sec-3 .sec-p-3-2{
    font-size: 13px;
     margin-left: 30px;
   
}
.sec-3 .sec-ul-3 li{
   font-size: 12px;
   margin-top: 30px;
   margin-left: 30px;
    
}

  #skils .skil-col .skil{
    font-size: 20px;
  }  
  #myproject{
     background-color: #f4f2eb;
     height: 985px;
  }
 #img-5{
   margin-top: 70px;
  }
}

 

@media only screen and  (min-width:800px) and  (max-width:1000px){
#about .sec-3-img{
    position: absolute;
    top: 380px;
    width: 200px;
    height: 260px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }
  
 .sec-3-span{
   display: none;
 }
 
 .sec-3 .sec-p-3-1{
    margin-left: 10px;
   font-size: 18px;
 }
.sec-3 .sec-p-3-2{
    font-size: 18px;
     margin-left: 10px;
   
}
.sec-3 .sec-ul-3 li{
   font-size: 18px;
   margin-top: 30px;
   margin-left: 10px;
    
}
 #myproject{
     background-color: #f4f2eb;
     height: 985px;
  }
 #img-5{
   margin-top: 50px;
  }
}
@media only screen and  (min-width:990px) and  (max-width:1000px){
#myproject{
     background-color: #f4f2eb;
     height: 739px;
  }
 #img-5{
   margin-top: 50px;
  }
}

@media only screen and  (min-width:1000px) and  (max-width:1100px){

 .sec-3 .sec-3-span img{
   display: none;
 }
 
 
 .sec-3 .sec-p-3-1{
    margin-left: 60px;
   font-size: 18px;
 }
.sec-3 .sec-p-3-2{
    font-size: 18px;
     margin-left: 60px;
   
}
.sec-3 .sec-ul-3 li{
   font-size: 18px;
   margin-top: 30px;
   margin-left: 60px;
    
}
#myproject{
     background-color: #f4f2eb;
     height: 730px;
  }
 #img-5{
   margin-top: 50px;
  }
}

@media only screen and  (min-width:1125px) and  (max-width:1250px){

 .sec-3 .sec-3-span img{
   display: none;
 }


 .sec-3 .sec-p-3-1{
    margin-left: 80px;
   font-size: 18px;
 }
.sec-3 .sec-p-3-2{
    font-size: 18px;
     margin-left: 80px;
   
}
.sec-3 .sec-ul-3 li{
   font-size: 18px;
   margin-top: 30px;
   margin-left: 80px;
    
}
 

}



